branches:
  - develop
debug: false
ci: true
dryRun: false
plugins:
  - '@semantic-release/commit-analyzer':
      releaseRules:
        - breaking: true
          release: major
        - revert: true
          release: patch
        - type: feat
          release: minor
        - type: fix
          release: patch
        - type: chore
          release: patch
        - type: docs
          release: patch
        - type: style
          release: patch
        - type: refactor
          release: patch
        - type: perf
          release: patch
        - type: build
          scope: deps
          release: patch
  - '@semantic-release/release-notes-generator'
  - '@semantic-release/changelog'
  - '@semantic-release/github'
